


.slick-prev:before,
.slick-next:before {
  color: red !important;
}

.swiper {
  /* width: 600px;
  height: 600px; */
}

.slick-list {
  height: 70vh !important;
}

.swiper-pagination-bullet-active {
  background-color: black !important;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.swiper-pagination-bullet {
  background-color: grey;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  opacity: 0.7;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: antiquewhite !important;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
  top: var(--swiper-navigation-top-offset, 33%) !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #fff !important;
  transform: scale(1);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 18px;
  color: black;
  font-weight: bolder;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}

.image-container {
  position: relative;
}

.famous .icon {
  padding: 5px 10px;
  border-radius: 20px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  /* width: 122.88px; */
}

.famous .icon-display {
  opacity: 0;
  gap: 7px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  transition: opacity 0.3s ease;
  /* background-color: white; */
  border-radius: 20px;
  width: 122.88px;
  
}

.famous .first {
  display: none;
}

.image-container:hover .icon-display {
  opacity: 1;
}


.famous .icon:hover {
  background-color: #e9f5f5;
  transform: scale(1.1);
}

.famous .image {
  position: relative;
  z-index: 1;
  border-radius: 15px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.body {
  text-align: center;
  padding: 10px;
}

.famous .seco {
  display: block;
}

@media(max-width: 850px) {

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }


  .famous .seco {
    display: none;
  }


  .famous .icon-display {
    
    position: absolute;
    gap: 7px;
    /* top: calc(calc(-98px + 70vh)/2.5); */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* right: 15px; */
    z-index: 99;
    opacity: 0;
    display: flex;
    transition: opacity 0.3s ease;
    flex-direction: column;
  }

  .famous .first {
    display: flex;
    opacity: 1;
    justify-content: center;

  }

  .famous .icon {
    padding: 5px 10px;
    border-radius: 20px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;

  }
}